* {
    font-family: "Comic Sans MS", sans-serif;
}


body {
    background-image: url("https://images-cdn.9gag.com/photo/ax2DG42_700b.jpg")
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: "Press Start 2P", cursive;
}

