* {
    font-family: "Comic Sans MS", sans-serif;
}


body {
    background-image: url("http://www.guoguiyan.com/data/out/135/69105093-nazi-wallpapers.jpg");
}

h1,w h2 {
    text-align: center;
}

h1 {
    font-family: "Press Start 2P", cursive;
}

