* {
    font-family: "Comic Sans MS", sans-serif;
}


body {
    background-image: url("https://i.pinimg.com/originals/66/c9/69/66c969f1ed8f105245930ddf98e61034.jpg")
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: "Press Start 2P", cursive;
}

